In [1]:
import pandas as pd
import os
import datetime as dt
import numpy as np
from pprint import pp

In [2]:
#use folder path as the path to folder with all the yearly storm data
folder_path='./Resources/'
dfs=[]
for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        # Read CSV file into a dataframe
        df = pd.read_csv(file_path, low_memory=False)
        # Append dataframe to the list
        dfs.append(df)
combined_storm_df = pd.concat(dfs, ignore_index=True)

combined_storm_df.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,201402,18,1000,201402,18,2000,83473.0,503953,NEW HAMPSHIRE,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low pressure developing south of Long Island a...,Eight to twelve inches of snow fell across eas...,CSV
1,201402,5,300,201402,5,2300,83491.0,504065,NEW HAMPSHIRE,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low pressure moving off the mid-Atlantic coast...,Six to twelve inches of snow fell across easte...,CSV
2,201401,18,1000,201401,19,700,82185.0,494521,NEW HAMPSHIRE,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low pressure brought a brief period of heavy s...,Four to eight inches of snow fell across easte...,CSV
3,201411,26,1000,201411,27,1000,91728.0,549746,NEW HAMPSHIRE,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A strong coastal storm moved up the east coast...,Six to eight inches of snow fell across easter...,CSV
4,201402,13,630,201402,14,800,83476.0,503982,NEW HAMPSHIRE,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A significant winter storm brought six to twel...,Five to eight inches of snow fell across easte...,CSV

In [3]:
len(combined_storm_df)

1671202

In [4]:
# filter to just texas
us_state = "TEXAS"

combined_storm_df = combined_storm_df.loc[combined_storm_df['STATE'] == us_state, :]

print(len(combined_storm_df), "storm records in", us_state)
combined_storm_df.head()

125244 storm records in TEXAS

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
307,201409,20,1500,201409,20,1540,89769.0,540290,TEXAS,48.0,...,1.0,SW,MENTONE,31.6898,-103.6120,31.6930,-103.6099,Remains of Tropical Storm Odile were over the ...,Heavy rain fell across Loving County and produ...,CSV
308,201409,20,2058,201409,20,2140,89769.0,540394,TEXAS,48.0,...,15.0,SE,ANDREWS CO ARPT,32.1669,-102.3464,32.1724,-102.3499,Remains of Tropical Storm Odile were over the ...,Heavy rain fell across Andrews County and prod...,CSV
309,201409,21,722,201409,21,830,89819.0,540409,TEXAS,48.0,...,1.0,N,MIDLAND,32.0181,-102.0819,32.0204,-102.0825,The remnants of Tropical Storm Odile and an as...,Heavy rain fell across Midland County and prod...,CSV
325,201409,23,645,201409,23,800,90016.0,541042,TEXAS,48.0,...,19.0,E,PINE SPGS,31.8677,-104.5267,31.8849,-104.4848,Weak upper ridging was to the west of the regi...,Heavy rain fell across Culberson County and pr...,CSV
326,201409,26,1200,201409,26,1800,90018.0,541049,TEXAS,48.0,...,10.0,NE,ORLA,31.8554,-103.9252,31.9300,-103.7769,An upper level low pressure system that moved ...,Heavy rains from the previous week of rainfall...,CSV

In [5]:
#remove the columns we obviously do not need
combined_storm_df = combined_storm_df[['BEGIN_DATE_TIME','DAMAGE_PROPERTY','EVENT_TYPE']]
combined_storm_df.head()

        BEGIN_DATE_TIME DAMAGE_PROPERTY   EVENT_TYPE
307  20-SEP-14 15:00:00           0.50K  Flash Flood
308  20-SEP-14 20:58:00           0.30K  Flash Flood
309  21-SEP-14 07:22:00           1.00K  Flash Flood
325  23-SEP-14 06:45:00           0.20K        Flood
326  26-SEP-14 12:00:00           0.50K        Flood

In [6]:
#fill the null values in 'DAMAGE_PROPERTY' column with 0s
combined_storm_df['DAMAGE_PROPERTY'] = combined_storm_df['DAMAGE_PROPERTY'].fillna(0)

In [7]:
len(combined_storm_df)

125244

In [8]:
combined_storm_df.head()

        BEGIN_DATE_TIME DAMAGE_PROPERTY   EVENT_TYPE
307  20-SEP-14 15:00:00           0.50K  Flash Flood
308  20-SEP-14 20:58:00           0.30K  Flash Flood
309  21-SEP-14 07:22:00           1.00K  Flash Flood
325  23-SEP-14 06:45:00           0.20K        Flood
326  26-SEP-14 12:00:00           0.50K        Flood

In [9]:
#function to convert the values in 'DAMAGE_PROPERTY' to float
def value_to_float(x):
    if type(x) == float or type(x) == int:
        return x
    if 'K' in x:
        if len(x) > 1:
            return float(x.replace('K', '')) * 1000
        return 1000.0
    if 'M' in x:
        if len(x) > 1:
            return float(x.replace('M', '')) * 1000000
        return 1000000.0
    if 'B' in x:
        return float(x.replace('B', '')) * 1000000000
    return 0.0

In [10]:
combined_storm_df['DAMAGE_PROPERTY'] = combined_storm_df['DAMAGE_PROPERTY'].apply(value_to_float)

In [11]:
#function to convert values in 'BEGIN_DATE_TIME' AND 'END_DATE_TIME' to datetime variables
def convert_to_datetime(date_string):
    format_string = '%d-%b-%y %H:%M:%S'
    return dt.datetime.strptime(date_string, format_string)

In [12]:
combined_storm_df['BEGIN_DATE_TIME'] = combined_storm_df['BEGIN_DATE_TIME'].apply(convert_to_datetime)

## Aggregating Storm Data by Month

In [13]:
# filter out any dates before 2000
combined_storm_df = combined_storm_df.loc[combined_storm_df['BEGIN_DATE_TIME'] > dt.datetime(2000, 1, 1)]

len(combined_storm_df)

104554

In [14]:
# Adding month column from begin_datetime
combined_storm_df['BEGIN_MONTH'] = combined_storm_df['BEGIN_DATE_TIME'].dt.to_period('M')

combined_storm_df.head()

        BEGIN_DATE_TIME  DAMAGE_PROPERTY   EVENT_TYPE BEGIN_MONTH
307 2014-09-20 15:00:00            500.0  Flash Flood     2014-09
308 2014-09-20 20:58:00            300.0  Flash Flood     2014-09
309 2014-09-21 07:22:00           1000.0  Flash Flood     2014-09
325 2014-09-23 06:45:00            200.0        Flood     2014-09
326 2014-09-26 12:00:00            500.0        Flood     2014-09

In [15]:
# verifying dates in range
print(combined_storm_df['BEGIN_MONTH'].max())
print(combined_storm_df['BEGIN_MONTH'].min())

2023-11
2000-01

In [16]:
# grabbing df info to inform aggregation functions
combined_storm_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 104554 entries, 307 to 1624811
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   BEGIN_DATE_TIME  104554 non-null  datetime64[ns]
 1   DAMAGE_PROPERTY  104554 non-null  float64
 2   EVENT_TYPE       104554 non-null  object
 3   BEGIN_MONTH      104554 non-null  period[M]
dtypes: datetime64[ns](1), float64(1), object(1), period[M](1)
memory usage: 4.0+ MB

In [17]:
# aggregating our storm data

# setting the aggregation functions via dict to pass in
aggs = {
    "DAMAGE_PROPERTY": 'sum',
    "EVENT_TYPE": "count",
}

agg_storm_df = combined_storm_df.groupby('BEGIN_MONTH').agg(aggs).rename(columns={"EVENT_TYPE": "EVENT_COUNT"})

agg_storm_df.head(24)

             DAMAGE_PROPERTY  EVENT_COUNT
BEGIN_MONTH
2000-01         0.000000e+00           76
2000-02         2.088900e+07          177
2000-03         1.454270e+07          731
2000-04         1.729150e+07          616
2000-05         5.461070e+07          635
2000-06         1.256400e+07          341
2000-07         1.749000e+06          226
2000-08         1.920000e+06          327
2000-09         2.694000e+06          322
2000-10         3.487500e+06          241
2000-11         9.306000e+06          302
2000-12         1.569150e+08          294
2001-01         3.910000e+05          149
2001-02         2.963000e+06          234
2001-03         4.376000e+06          194
2001-04         5.524800e+07          425
2001-05         2.379848e+08          860
2001-06         5.162190e+09          360
2001-07         5.000000e+05           74
2001-08         6.025000e+06          274
2001-09         2.429500e+06          293
2001-10         3.238200e+07          249
2001-11         4.406000e+06          297
2001-12         3.042000e+06           79

## Pulling in/Merging Real Estate Data

In [18]:
# previewing our real estate data

# since the data is formatted a bit weirdly, I think this is the easiest way to process everything
import csv

re_csv_path = os.path.join("Resources_RealEstate", "State_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")

with open(re_csv_path) as csvfile:
    reader = csv.reader(csvfile, delimiter=',')
    
    # drop header
    for i in range(6):
        print(next(reader))
    
    print("csv month data length", len(next(reader)[5:]))



print("storm df length:", len(agg_storm_df))

['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', '2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30', '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31', '2000-09-30', '2000-10-31', '2000-11-30', '2000-12-31', '2001-01-31', '2001-02-28', '2001-03-31', '2001-04-30', '2001-05-31', '2001-06-30', '2001-07-31', '2001-08-31', '2001-09-30', '2001-10-31', '2001-11-30', '2001-12-31', '2002-01-31', '2002-02-28', '2002-03-31', '2002-04-30', '2002-05-31', '2002-06-30', '2002-07-31', '2002-08-31', '2002-09-30', '2002-10-31', '2002-11-30', '2002-12-31', '2003-01-31', '2003-02-28', '2003-03-31', '2003-04-30', '2003-05-31', '2003-06-30', '2003-07-31', '2003-08-31', '2003-09-30', '2003-10-31', '2003-11-30', '2003-12-31', '2004-01-31', '2004-02-29', '2004-03-31', '2004-04-30', '2004-05-31', '2004-06-30', '2004-07-31', '2004-08-31', '2004-09-30', '2004-10-31', '2004-11-30', '2004-12-31', '2005-01-31', '2005-02-28', '2005-03-31', '2005-04-30', '2005-05-31', '2005-06-30', '2005-07-31', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-31', '2006-01-31', '2006-02-28', '2006-03-31', '2006-04-30', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-30', '2006-10-31', '2006-11-30', '2006-12-31', '2007-01-31', '2007-02-28', '2007-03-31', '2007-04-30', '2007-05-31', '2007-06-30', '2007-07-31', '2007-08-31', '2007-09-30', '2007-10-31', '2007-11-30', '2007-12-31', '2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-31', '2008-06-30', '2008-07-31', '2008-08-31', '2008-09-30', '2008-10-31', '2008-11-30', '2008-12-31', '2009-01-31', '2009-02-28', '2009-03-31', '2009-04-30', '2009-05-31', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-31', '2009-11-30', '2009-12-31', '2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31', '2010-09-30', '2010-10-31', '2010-11-30', '2010-12-31', '2011-01-31', '2011-02-28', '2011-03-31', '2011-04-30', '2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-31', '2012-01-31', '2012-02-29', '2012-03-31', '2012-04-30', '2012-05-31', '2012-06-30', '2012-07-31', '2012-08-31', '2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31', '2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30', '2013-05-31', '2013-06-30', '2013-07-31', '2013-08-31', '2013-09-30', '2013-10-31', '2013-11-30', '2013-12-31', '2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-31', '2014-06-30', '2014-07-31', '2014-08-31', '2014-09-30', '2014-10-31', '2014-11-30', '2014-12-31', '2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31', '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30', '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31', '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31', '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31', '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31', '2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31', '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31', '2024-01-31', '2024-02-29']
['9', '0', 'California', 'state', '', '190252.3290963135', '190891.8239611473', '191755.29862276258', '193629.64465037093', '195808.28955393317', '198159.04107605806', '200641.602589204', '203233.52790202867', '205831.46810751516', '208295.15833844393', '210721.42607288875', '213096.00265018482', '215104.77757342125', '217091.04319547137', '219326.74896822148', '222106.54570630044', '224892.0975167197', '227422.54089250742', '229791.60721186709', '232074.23801803286', '234289.74507159265', '236361.29185829413', '238307.37999160323', '240127.22383757538', '241597.5861872904', '243100.84719083572', '244860.37627517933', '247234.59913748913', '250006.7814528766', '253082.532425857', '256640.8302598839', '260471.23448409452', '264341.0676948992', '268013.43928480713', '271611.3731950158', '275159.291637761', '278294.2797575675', '281217.0677432747', '284313.04544689815', '287911.68809978274', '291908.2225867997', '295604.89279548614', '299507.6782002261', '303618.1418191979', '308184.3593843634', '312632.1840926244', '316918.0211154565', '321062.45532457234', '325352.9462414021', '330185.2958647069', '335697.1299554038', '342024.5872939686', '349310.12306698103', '357440.88649140834', '365753.523638893', '373686.707378316', '381199.71156770224', '388415.3458284584', '394759.12375615345', '400888.104751074', '406342.52089158056', '412254.2701438763', '418468.47243318445', '425475.5319813885', '432291.46917497827', '438594.2975771793', '444624.59400034003', '450741.5546924675', '456886.5932106118', '462918.30730132636', '467811.3750890973', '472142.64331378223', '475751.32677041', '478960.91070782184', '482018.0703716209', '484762.92434524256', '487490.46686087066', '489376.9845783489', '490077.50098332827', '490083.6907259973', '489033.47536985506', '487836.6654546732', '486560.56112553854', '485453.400368442', '484539.5811505997', '483467.59010050184', '481933.9577254749', '479967.9088944365', '476901.26926623454', '473369.6060839719', '468849.70404228725', '464136.4834003539', '458839.5338464847', '453280.8365135498', '447693.1411289998', '441703.24632714386', '435738.6886021113', '428698.65762270725', '420288.90517868596', '410430.9505492822', '399937.7687980349', '389747.66426876374', '379427.2029430614', '369491.5690251526', '360312.25336108514', '352374.45409161', '344678.9614103219', '337295.35477158736', '330393.32097111846', '325367.0102692836', '321203.9930193903', '317292.16828093195', '313501.48056156695', '310188.676729886', '307731.90718693665', '305678.5730361315', '304070.2121827944', '303212.8423293534', '304057.49393141194', '305990.79592198133', '307954.35628744605', '308774.67095028755', '309822.76932765055', '311128.19139199506', '312565.5348686543', '312499.69431797945', '311346.89537446597', '309377.74509084394', '307368.5924095491', '305213.0416433387', '303303.6981586256', '301943.74685931666', '300884.7853095206', '299870.24671236944', '298375.6905346797', '296784.88581898966', '294394.87421022676', '292471.27349959716', '290796.2219538628', '288969.16559801286', '286788.22479560034', '284459.7187299659', '283309.96421822684', '282560.6238347722', '282174.3511156764', '281612.9780254913', '280982.0388714781', '280551.191865446', '280747.24015476805', '281856.815128624', '283465.8996054816', '286010.19659403333', '289446.2291812998', '293831.1375789516', '298632.5860334754', '303742.95188927377', '308583.7555332129', '312867.652875028', '316547.5475576517', '320879.43366867054', '326796.8522351225', '333957.44906185166', '341130.41363769537', '347991.18443284597', '354714.666290455', '361355.1408661756', '366925.2041867438', '371411.984542399', '374659.42162544536', '377344.25111482176', '379785.95132441144', '382763.747172036', '385941.36472646636', '388558.18557517393', '390278.7914374915', '391787.33424672607', '394277.87664265675', '397437.20673678815', '400977.81498161977', '404246.9616989439', '407153.4827426852', '409610.04940161365', '411620.7158224304', '413566.8089205231', '415767.2629840982', '418022.27159928856', '419799.2104884141', '420990.08553271083', '422008.6877257098', '423264.29315954074', '424312.2352955162', '425268.07763678656', '428434.7535258599', '433761.9957831674', '439813.45714041404', '444385.77165933093', '447418.78250987735', '450098.9760347923', '451079.22390552046', '450770.6538966689', '449289.3413112006', '448952.6023657285', '450021.2787058821', '452600.84668161697', '457480.7461980898', '463902.4152945669', '470876.7130163295', '476572.4359838597', '480748.4567631541', '484327.43699593114', '486069.84517914423', '487575.83761620364', '489161.4966547415', '492609.72261348256', '496433.4590706075', '500927.4594416867', '506002.0927588692', '511598.83286007604', '516700.6469170432', '520897.01935518114', '524736.3211967252', '527861.4275373527', '530704.5566922656', '533754.7579829233', '537196.2110039116', '540856.8677061414', '543445.5314471843', '544962.2909157708', '544489.2451925784', '542862.6740706972', '541019.7743731579', '539962.0443121906', '539328.8298316962', '538938.349231278', '539348.688087015', '541064.841282488', '543688.045301782', '546780.2396478499', '550147.0163801468', '553636.2892831521', '556486.173229421', '558778.0539403785', '560986.1733555048', '563025.1306132247', '563282.6505986697', '562062.6766466899', '561905.2447179332', '565186.0818563043', '572469.663919684', '581822.2870305582', '592712.9254386389', '603575.9540916681', '612596.4578010594', '620314.2686256996', '627305.966976832', '636459.0291184139', '647419.2648767402', '659186.9157052641', '669822.7704734817', '677181.2417210841', '682170.9332894367', '686625.4536498793', '692498.8329906985', '699739.3796731221', '709837.1349546438', '722794.7798074667', '738419.6161072649', '752628.5052474664', '763338.9106046871', '769033.4513935354', '769344.6646032404', '764650.0572166155', '757141.7182795937', '750382.377930733', '745070.4816728309', '740517.2344675631', '733433.3461964088', '726150.5436178347', '720793.3349901432', '720203.2120895343', '723208.8500747997', '728472.346957293', '735567.5846950918', '743596.141122457', '751268.2682105167', '757506.629173324', '761970.8493737322', '764813.1052515622', '765351.7655779769', '765196.9055679017']
['54', '1', 'Texas', 'state', '', '110404.23018583916', '110464.2266963663', '110493.32594389793', '110637.74808980995', '110731.27813634987', '110836.14808748745', '110905.06387118762', '111108.9438393932', '111376.3023123895', '111662.78205547774', '111993.36219406244', '112360.5573931635', '112579.78959423587', '112546.6633866306', '112327.28998538821', '112198.76535769265', '112241.91841185633', '112372.76807294431', '112526.47665162392', '112664.54221847553', '112809.7490821152', '112961.63228752794', '113072.60385351886', '113162.2559297064', '113192.8458962383', '113277.64743907521', '113490.14807069984', '113863.8408265331', '114304.09478945851', '114797.3395836497', '115298.71756662011', '115828.55096344707', '116295.51678597317', '116696.24756546489', '117037.32360642777', '117327.93157746759', '117550.76302052445', '117697.83617480805', '117864.0811958238', '118059.08809650566', '118280.3305044488', '118503.28925555112', '118723.1442060828', '118978.73129184876', '119210.55956567137', '119446.63562339584', '119617.0643963152', '119761.3394071383', '120122.35249080334', '120934.99187102565', '122221.39939463632', '123497.98699132267', '124552.9062574779', '125229.98602144873', '125862.89902175813', '126438.59532798624', '127088.63546870154', '127693.44426046086', '128234.50288137088', '128707.3625105222', '129210.98003712048', '129634.69120634634', '130012.24285929515', '130345.03041848022', '130707.00640606589', '131102.59253185266', '131452.66217096703', '131780.31967931197', '132108.35354735007', '132374.22529073435', '132684.9450241459', '132937.98278422968', '133145.6318743146', '133355.0676902768', '133609.61849108254', '134017.7517066518', '134576.04731680916', '135194.90692002524', '135812.04303875865', '136360.19213320702', '136943.11690471348', '137663.24655906088', '138352.90107743963', '139037.02063871516', '139398.1305634899', '139540.27051178511', '139522.48769386264', '139738.6302478568', '140133.93052699507', '140647.90794718024', '141106.5804026019', '141594.0800251492', '142074.49305629413', '142516.8810569048', '142885.50209701317', '143225.5281172977', '143088.09184743185', '142690.67598004983', '142105.52066038435', '141798.44942871525', '141578.40187175214', '141381.0631254233', '141217.90151288183', '140870.14622714615', '140366.9811217398', '139768.47062245617', '139181.29258388357', '138638.32720420664', '138144.32464405804', '137884.8935279078', '137778.44227304764', '137762.01722744896', '137761.83254896407', '137737.8721324946', '137748.68717662434', '137633.37289278136', '137481.21790420488', '137279.19855957633', '137321.56629480975', '137445.50629540315', '137505.71907767522', '137492.24379791942', '137517.0542644761', '137690.46268342983', '137890.72118276337', '137936.00492268198', '137691.54499315398', '137219.39054243502', '136660.12266441446', '136097.39552101388', '135513.62560562446', '135006.55496794576', '134565.93015327406', '134102.33849023547', '133646.77064293585', '133205.94174214904', '132856.82639952665', '132501.02066068968', '132303.55174994166', '132187.38648790392', '132145.8159563902', '132034.3686032783', '131826.05614509783', '131582.73590097262', '131471.31543020022', '131624.4088599291', '131897.29600826537', '132171.80202956122', '132478.2094749786', '132909.96285872173', '133399.29204604976', '133764.66663526875', '134077.92851564332', '134390.13798631844', '134750.47009322597', '135112.1321014536', '135617.02981091608', '136258.6452744284', '137019.03847143424', '137740.92852087016', '138564.84680216297', '139547.9988677639', '140491.53007801351', '141406.24917775826', '142120.1997122805', '142934.26164880782', '143679.93552588654', '144516.47055505353', '145498.940338065', '146607.9467245552', '147726.74088511267', '148699.26051886496', '149684.39967726718', '150684.59174193113', '151823.61606986218', '152847.89015485992', '153750.9717477266', '154391.25314312533', '155200.4429159071', '156147.16590803151', '157331.89378016195', '158559.6782862992', '159760.00498271163', '160883.27088696175', '161957.96619210488', '163028.46306296616', '164141.4933623886', '165302.67324830923', '166486.68275334404', '167679.69426441065', '168730.30763225086', '169819.92640894113', '170986.73749679315', '172203.88691040446', '173101.42651009417', '173955.43190388542', '174779.5718832343', '175761.94682979825', '176580.85841501353', '177377.1164948355', '178287.54432896222', '179291.5145155886', '180421.07721655467', '181506.48083824155', '182574.39328567506', '183527.85747980126', '184544.60733175944', '185670.11301657403', '186683.5614892982', '187596.97731882372', '188303.98644078014', '189053.4955192462', '189814.54039644284', '190722.1614934491', '191721.66636668038', '192831.3889807096', '193931.84095748546', '194933.1385378607', '196105.98972596912', '197203.35469880202', '198347.7981484549', '199216.9352879578', '200210.41075712713', '201104.1524424261', '201986.04776403005', '202658.64418437562', '203421.34589176826', '204269.40840281176', '205109.64159560064', '205850.13731803047', '206490.7780049659', '207031.828429952', '207518.00304052097', '207989.6460744649', '208490.06081699603', '209089.86582451625', '209745.28614808977', '210622.6908872444', '211661.57188200587', '212792.77219150026', '213941.21630375655', '215052.26800532205', '216135.83580856977', '216916.98213293395', '217195.90784081715', '217362.85595816848', '218015.4723861696', '219433.14497172102', '221573.23226708057', '223988.55810044953', '226743.15592218048', '229411.97881485385', '232213.71855620024', '235198.05459480468', '238576.95687210094', '242326.7540598867', '246618.01721936747', '251209.4097812005', '255421.60098428305', '258632.48403293142', '260979.71625697947', '263414.55565834773', '266567.0049963912', '270190.6522203104', '274958.0715539185', '280290.09131851705', '286319.3404620486', '292169.0761399937', '297545.9263454944', '302238.9923988283', '305092.59912163834', '305988.420097653', '305328.01157122006', '304383.7485983315', '303387.70376682375', '302107.85013078275', '300419.1658495417', '298813.31726269325', '297741.50910454063', '297371.64882667986', '297691.21670321404', '298520.3764724753', '299267.11050192587', '299846.5848115864', '299884.498335656', '299654.3838471279', '299166.0208531806', '298562.7916413898', '298364.5567666436', '298623.8831722934']

In [19]:
# parsing the data for our real estate DF

# headers containing state name
state_hdrs = []
# real estate data
re_data = pd.DataFrame(columns=["STATE", "MONTH", "ZHVI"])

with open(re_csv_path) as csvfile:
    reader = csv.reader(csvfile, delimiter=',')
    
    # drop header
    csv_headers = next(reader)
    for row in reader:
        state_hdrs.append(row[2])
        # iterate over rest of row
        for i in np.arange(5, len(row), 1):
            # print(i)
            re_data = pd.concat([re_data, pd.DataFrame({"STATE": [row[2]], "MONTH": [csv_headers[i][:7]], "ZHVI": [row[i]]})], ignore_index=True)

re_data.head()

        STATE    MONTH                ZHVI
0  California  2000-01   190252.3290963135
1  California  2000-02   190891.8239611473
2  California  2000-03  191755.29862276258
3  California  2000-04  193629.64465037093
4  California  2000-05  195808.28955393317

In [20]:
re_data.info()

len(re_data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14790 entries, 0 to 14789
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   STATE   14790 non-null  object
 1   MONTH   14790 non-null  object
 2   ZHVI    14790 non-null  object
dtypes: object(3)
memory usage: 346.8+ KB

14790

In [21]:
print(re_data["MONTH"].min(), "to", re_data["MONTH"].max())

2000-01 to 2024-02

In [22]:
re_data = re_data.loc[re_data["MONTH"].astype('datetime64[s]') < dt.datetime(2024, 1, 1), :]

re_data.info()
re_data["MONTH"].max()

<class 'pandas.core.frame.DataFrame'>
Index: 14688 entries, 0 to 14787
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   STATE   14688 non-null  object
 1   MONTH   14688 non-null  object
 2   ZHVI    14688 non-null  object
dtypes: object(3)
memory usage: 459.0+ KB

'2023-12'

In [23]:
re_data.loc[re_data["ZHVI"] == "", :].count()

STATE    228
MONTH    228
ZHVI     228
dtype: int64

In [24]:
re_data_tex = re_data.loc[re_data["STATE"] == "Texas", :].reset_index(drop=True)
re_data_tex.tail()

     STATE    MONTH               ZHVI
283  Texas  2023-08  299846.5848115864
284  Texas  2023-09   299884.498335656
285  Texas  2023-10  299654.3838471279
286  Texas  2023-11  299166.0208531806
287  Texas  2023-12  298562.7916413898

In [25]:
re_data_tex["MONTH"] = re_data_tex["MONTH"].astype("period[M]")
re_data_tex["ZHVI"] = re_data_tex["ZHVI"].astype("float")
re_data_tex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   STATE   288 non-null    object
 1   MONTH   288 non-null    period[M]
 2   ZHVI    288 non-null    float64
dtypes: float64(1), object(1), period[M](1)
memory usage: 6.9+ KB

In [26]:
re_data_tex = re_data_tex.set_index("MONTH")
re_data_tex.head()

         STATE           ZHVI
MONTH
2000-01  Texas  110404.230186
2000-02  Texas  110464.226696
2000-03  Texas  110493.325944
2000-04  Texas  110637.748090
2000-05  Texas  110731.278136

In [27]:
agg_storm_df = agg_storm_df.rename(columns={"BEGIN_MONTH": "MONTH"})


# merging dfs together
re_storm_data = pd.merge(re_data_tex, agg_storm_df, how="left", left_index=True, right_index=True).drop(columns=["STATE"])

re_storm_data.info()
re_storm_data.head()

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 288 entries, 2000-01 to 2023-12
Freq: M
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ZHVI             288 non-null    float64
 1   DAMAGE_PROPERTY  287 non-null    float64
 2   EVENT_COUNT      287 non-null    float64
dtypes: float64(3)
memory usage: 17.1 KB

                  ZHVI  DAMAGE_PROPERTY  EVENT_COUNT
MONTH
2000-01  110404.230186              0.0         76.0
2000-02  110464.226696       20889000.0        177.0
2000-03  110493.325944       14542700.0        731.0
2000-04  110637.748090       17291500.0        616.0
2000-05  110731.278136       54610700.0        635.0

In [28]:
re_storm_data.index.max()

Period('2023-12', 'M')

In [29]:
# checking which months have 0 property damage recorded from storms
re_storm_data.loc[re_storm_data["DAMAGE_PROPERTY"] == 0, :]

                  ZHVI  DAMAGE_PROPERTY  EVENT_COUNT
MONTH
2000-01  110404.230186              0.0         76.0
2003-01  117550.763021              0.0         26.0
2017-11  191721.666367              0.0         31.0
2019-12  212792.772192              0.0         56.0

## Real Estate: full data + texas specific data with storms: Write to CSV
***

In [31]:
re_storm_data.to_csv(os.path.join("Resources_Output", "data_texas_property_zhvi_and_storm_damage_2000-2023.csv"))
re_data.to_csv(os.path.join("Resources_Output", "data_zhvi_all_states_2000-2023.csv"))

## Event Type Double Checking

In [ ]:
df["EVENT_TYPE"].value_counts()

In [ ]:
grouped = df.groupby(["EVENT_TYPE"])
grouped.sum(["DAMAGE_PROPERTY"]).drop(columns=["BEGIN_LAT", "BEGIN_LON", "END_LAT", "END_LON"]).sort_values("DAMAGE_PROPERTY", ascending=False)

In [ ]:
df["EVENT_TYPE"].unique()

In [ ]:
category_trans_dict = {
    'THUNDERSTORM WINDS/FLOODING': 'Flood',
    'HAIL/ICY ROADS': 'Hail',
    'HAIL FLOODING': 'Flood',
    'THUNDERSTORM WINDS/FLASH FLOOD': 'Flash Flood',
    'THUNDERSTORM WINDS LIGHTNING': 'Lightning',
    'THUNDERSTORM WIND/ TREES': 'Thunderstorm Wind',
    'THUNDERSTORM WIND/ TREE': 'Thunderstorm Wind',
    'THUNDERSTORM WINDS FUNNEL CLOU': 'Funnel Cloud',
    'TORNADO/WATERSPOUT': 'Waterspout',
    'THUNDERSTORM WINDS/HEAVY RAIN': 'Heavy Rain',
    'THUNDERSTORM WINDS HEAVY RAIN': 'Heavy Rain',
    'THUNDERSTORM WINDS/ FLOOD': 'Flood',
}


rest_of_cats = ['Tornado', 'Thunderstorm Wind', 'Hail', 'Winter Storm', 'Cold/Wind Chill',
       'Heavy Snow', 'Flood', 'High Wind', 'Flash Flood', 'Blizzard',
       'Ice Storm', 'Lightning', 'Frost/Freeze', 'Heavy Rain',
       'Strong Wind', 'Coastal Flood', 'Wildfire', 'Funnel Cloud',
       'Winter Weather', 'Waterspout', 'Drought', 'Debris Flow', 'Heat',
       'High Surf', 'Tropical Storm', 'Dust Devil', 'Dense Fog',
       'Hurricane (Typhoon)', 'Marine High Wind', 'Dust Storm',
       'Storm Surge/Tide', 'Lake-Effect Snow', 'Rip Current', 'Avalanche',
       'Seiche', 'Extreme Cold/Wind Chill', 'Excessive Heat', 'Tsunami',
       'Sleet', 'Freezing Fog', 'Lakeshore Flood',
       'Astronomical Low Tide', 'Tropical Depression', 'Dense Smoke',
       'Sneakerwave', 'Hurricane']

all_event_transforms = {item: item for item in rest_of_cats}
all_event_transforms.update(category_trans_dict)

pp(all_event_transforms.keys())

In [ ]:
df["EVENT_TYPE"] = df["EVENT_TYPE"].map(all_event_transforms)

df.head()

In [ ]:
# verify remaining categories
df["EVENT_TYPE"].unique()

### Some Thoughts on Event Type Consolidation
***

We may want to consider more merges including:

Hurricane (Typhoon) -> 'Hurricane'

All Floods (except maybe flash floods) -> Flood

(storm floods already filtered are a bit ambiguous in this case)

**Ideally, we either want to drop unneeded categories or run them through an unsupervised clustering algorithm to bring the total category count down to <10 for easier neural network processing**

# One-Hot Encoding, final preprocessing DF
***

In [ ]:
# double check the columns to see what we need encoded
df.head()

Columns to encode: "REGION", "EVENT_TYPE"

Could also be worthwhile to target data with only lat-long info and run clustering there, but that is its own endeavor

In [ ]:
encoded_cols_df = pd.get_dummies(df[["REGION", "EVENT_TYPE"]]).astype(int)

encoded_cols_df.head()

In [ ]:
preproc_df = pd.merge(df, encoded_cols_df, on=df.index).drop(columns=["REGION", "EVENT_TYPE", "key_0"])

preproc_df.head()

In [ ]:
output_path=#Replace with intended output path
preproc_df.to_csv(output_path)